:root {
  --accent-color: #2196f3;
  --primary-color-text: #212121;
  --secondary-color-text: #757575;
  --primary-logo-color: #000000;
  --main-color-title: #ffffff;
  --primary-bg-color: #f5f4fa;
  --secondary-bg-color: #2f303a;
  --primary-icon-color: #afb1b8;
  --accent-icon-color: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-color-text);
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}

.btn {
  cursor: pointer;
  border: none;
  color: var(--main-color-title);
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* .is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
} */

/* ----------------------------------------------HEADER----------------------------------------- */
.header {
  border: 1px solid #ececec;
}

.header .container {
  display: flex;
}

/* Логотип */

.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: inherit;
}

.logo__text {
  color: var(--accent-color);
}

/* Навигация сайта */

.nav,
.site-nav {
  display: flex;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 33px;

  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: inherit;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ховер site-nav */

.site-nav__link:hover,
.site-nav__link:focus,
.current {
  color: var(--accent-color);
}

.current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
  border-radius: 4px;
}

/* Список контактов */

.list-contact {
  display: flex;
  margin-left: auto;
}

.list-contact__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--secondary-color-text);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-contact__item:not(:last-child) {
  margin-right: 30px;
}

.list-contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

/* ховер list-contact */

.list-contact__link:hover,
.list-contact__link:focus {
  color: var(--accent-color);
}

/* ----------------------------------------------HERO----------------------------------------- */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin: 0 auto;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg-hero.jpg);
  background-color: #2f303a;
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__title {
  max-width: 696px;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-color-title);
}

.hero__button {
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  background: var(--accent-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover {
  background-color: #188ce8;
}

/* ----------------------------------------------ADVANTAGE----------------------------------------- */
.advantage-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.advantage-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.icon-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: #f5f4fa;
  border-radius: 4px;
}

.advantage-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantage-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-color-text);
}

/* ----------------------------------------------WORK----------------------------------------- */
.work {
  padding-bottom: 94px;
}
.work-title {
  margin-bottom: 50px;
}

.work-list {
  display: flex;
}

.work-item:not(:last-child) {
  margin-right: 30px;
}

.work-block-img {
  position: relative;
}

.work-block {
  position: absolute;
  bottom: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;

  background-color: rgba(47, 48, 58, 0.8);
  color: var(--main-color-title);
}

.work-block-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
/* ----------------------------------------------TEAM----------------------------------------- */
.team {
  background-color: #f5f4fa;
}

.team .title {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
}

.person-item {
  background-color: var(--main-color-title);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.person-item:not(:last-child) {
  margin-right: 30px;
}

.person-block {
  display: flex;
  max-width: 270px;
  height: 168px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.person-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.person-text {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.18;
  color: var(--secondary-color-text);
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-item + .social-item {
  margin-left: 10px;
}

.social-link {
  color: var(--primary-icon-color);
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-social {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color: var(--accent-icon-color);
}

/* ----------------------------------------------CLIENTS----------------------------------------- */
.clients .title {
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  margin: -15px;
}

.clients-item {
  margin: 15px;
}

.clients-link {
  color: var(--primary-icon-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 94px;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.icon-client {
  fill: currentColor;
}
/* ---------------------------------------FOOTER----------------------------------------- */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--secondary-bg-color);
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  display: block;
  padding: 0;
  margin-bottom: 20px;

  color: var(--main-color-title);
}

.address-list .item:not(:last-child) {
  margin-bottom: 9px;
}

.map-link {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-color-title);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.map-link:hover,
.map-link:focus {
  color: var(--accent-color);
}

.address-link {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.connected {
  width: 206px;
  margin-left: 70px;
}

.connected-title {
  display: inline-block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-color-title);
}

.connected-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.connected .icon-social {
  width: 20px;
  height: 20px;
  fill: var(--accent-icon-color);
}

.connected-link:hover,
.connected-link:focus {
  background-color: var(--accent-color);
}

/*-----------------/////////////////FOOTER-FORM///////////////-------------------------*/

.footer-form {
  margin-left: auto;
}

.footer-input-title {
  display: block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--main-color-title);
}

.footer-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  line-height: 1.25;

  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
}

.footer-form-button {
  max-width: 200px;
  height: 50px;
  padding: 10px 28px;
  margin-left: 13px;

  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;

  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  color: var(--accent-icon-color);
}
.icon-send {
  margin-left: 10px;
  vertical-align: middle;
}

/* -----------------/////////////////////BACKDROP///////////////////--------------------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 5000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  padding: 40px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #fff;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
}

.icon-close {
  width: 11px;
  height: 11px;
  fill: #000000;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .icon-close,
.modal-btn:focus .icon-close {
  fill: var(--accent-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: var(--primary-color-text);
}

.modal-label {
  position: relative;
  margin-bottom: 10px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-color-text);
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  margin-top: 4px;

  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.modal-label:focus-within,
.modal-label:focus-within .modal-input,
.modal-label:hover,
.modal-label:hover .modal-input,
textarea:focus,
textarea:hover {
  border-color: var(--accent-color);
  fill: var(--accent-color);
  outline: none;
}

.icon-modal {
  position: absolute;
  top: 27px;
  left: 12px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

textarea {
  width: 100%;
  height: 120px;
  resize: none;
  margin-top: 4px;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  opacity: 1;
  color: rgba(117, 117, 117, 0.5);
}

.icon-check {
  width: 16px;
  height: 15px;
  margin-right: 8px;

  border: 2px solid var(--primary-color-text);
  border-radius: 3px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-color-text);
  cursor: pointer;
}

.checkbox:checked + .icon-check {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url('../images/icons/icon-check.svg');
  background-size: contain;
  background-origin: content-box;
}

.policie-link {
  margin-left: 2px;
  font-size: 14px;
  line-height: 1.71;
  text-decoration-line: underline;

  color: var(--accent-color);
}

.modal-button-submit {
  width: 200px;
  height: 50px;
  margin: 0 auto;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  background: #2196f3;
  border-radius: 4px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-submit:hover,
.modal-button-submit:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* -----------------/////////////////////PORTFOLIO///////////////////--------------------- */

/* ----------------------------------PORTFOLIO-HEADER----------------------------------------- */

.list-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.list-btn .btn-item + .btn-item {
  margin-left: 8px;
}

.btn-filter,
.active {
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-filter:hover,
.btn-filter:focus,
.active {
  background: var(--accent-color);
  color: var(--main-color-title);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-filter {
  padding: 6px 22px;

  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-radius: 4px;
  border: none;
}

/* ---------------------------------------PORTFOLIO-MAIN----------------------------------------- */

.card-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
  margin-right: -30px;
}

.card-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}

.card-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-link:hover,
.card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* .card-item:nth-child(3n) {
  margin-right: 0;
} */

/* .card-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
} */
.card-block-img {
  position: relative;
  overflow: hidden;
}

.card-overlay {
  position: relative;
  overflow: hidden;
}

.card-overlay-text {
  position: absolute;
  padding: 63px 24px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  font-size: 18px;
  line-height: 1.55;
  color: var(--main-color-title);
  background: rgba(33, 150, 243, 0.9);

  transform: translateY(101%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-link:hover .card-overlay-text,
.card-link:focus .card-overlay-text {
  transform: translateY(0);
}

.card-element {
  padding: 20px 24px;

  border: 1px solid #eeeeee;
  border-top: none;
}

.card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-color-text);
}

.card-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-color-text);
}
